// Place all the styles related to the Payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#simplify-checkout-frame {
    border: none;
    height: 375px; // Value may need adjusting per your requirement
    overflow: hidden;
}
